<% layout("/layouts/boillerplate") %>
<style>
    #filters{
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin: auto ;
        /* margin-top: rem; */
    }
    .filter{
        text-decoration: none;
        color: black;
        text-align: center;
        opacity: 0.8;
        /* margin-left: 1rem; */
    }
    .filter:hover{
        text-align: center;
        opacity: 1;
        cursor: pointer;
        color:#fe424d ;
        /* margin-left: 1rem; */
    }
</style>
<body>
    <!-- <h1>All listings</h1> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Add New Listing</button>
    </form> -->
    <div id="filters" >
        <a href="/listings/Trendings" class="filter" id="trendind">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </a>
        <a href="/listings/Rooms" class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </a>
        <a href="/listings/IconicCities" class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic Cities</p>
        </a>
        <a href="/listings/Mountain" class="filter">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountain</p>
        </a>
        <a href="/listings/Castles" class="filter">
            <i class="fa-brands fa-fort-awesome-alt"></i>
            <p>Castles</p>
        </a>
        <a href="/listings/Amazingpools" class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing pools</p>
        </a>
        
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        
        <%for(list of allListings){%>
            <div class="card listing-card col" >
                
                <img src="<%=list.image.url%>" class="card-img-top " alt="Listing_image" style="height: 20rem;">
                <!-- <div class="card-img-overlay"></div> -->
                <div class="card-body">
                  <h6 class="card-title"><%=list.title%></h6>
                  <p>&#8377;<%=list.price.toLocaleString("en-IN")%>/Night</p>
                  <!-- <p class="card-text"><%=list.description%></p> -->
                  <a href="/listings/<%=list._id%>" class="btn btn-hover btn-primary">See Details</a>
                </div>
              </div>
            <!-- <li><a href="/listings/<%=list._id%>"><%=list.title%></a></li> -->
        <%}%>
    </div>
    
</body>
